body {
    background-image:url("bg_portal_cover.jpg");
    background-repeat: no-repeat;
    background-size : auto 969px;
    background-position: center center;
    color : powderblue;
}
.d_menu1{
    width:20%;
    height:969px;
    float:left;
    /* background-color:salmon; */
    text-align:center;
}
.d_menu1:hover{
    background: linear-gradient(to left, rgba(0,0,0,0), green);
}
.d_menu2{
    width:20%;
    height:969px;
    float:right;
    /* background-color:salmon; */
    text-align:center;
}
.d_menu2:hover{
    background: linear-gradient(to right, rgba(0,0,0,0), blue);
}
.d_con{
    width:60%;
    height:969px;
    float:left;
    /* background-color: red; */
    background-size: 100%100%;
    text-align: center;
}
p.typing-txt{display: none;}
.typing{
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}
@keyframes cursor{
    0%{border-right: 3px solid #fff}
    50%{border-right: 3px solid #000}
    100%{border-right: 3px solid #fff}
}